.max-app {

  &__main {

  }

  &__header {
    background-color: #37474F;
    bottom: auto;
    height: 100px;
    left: 0;
    position: fixed;
    right: auto;
    top: 0;
    width: 100%;
  }

  &__headerText {
    color: #B0BEC5;
    display: block;
    font-size: 18px;
    height: 54px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  &__headerNavigation {
    color: #B0BEC5;
    display: flex;
    font-size: 18px;
    height: 46px;
    justify-content: center;
    line-height: 45px;
    text-align: center;
    width: 100%;
  }

  &__navigationItem {
    display: flex;
    align-items: center;
    margin: 0 16px;
  }

}
